<processing-indicator *ngIf="isProgress"></processing-indicator>
<header id="header" class="fixed-top d-flex align-items-center">
  <div style="height: 100%;" class="container d-flex justify-content-between">

    <div class="logo">
      <img class="logoImage" src="assets/img/logo.png">
    </div>

    <nav id="navbar" class="navbar">
      <a *ngIf="currentUser" class="nav-link" (click)="logout()">Logout</a>
    </nav>
  </div>
</header>

<div class="mainContainer">
  <router-outlet></router-outlet>
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>