<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div class="header">
        <span class="spacer"></span>
        <h2><b>Orders</b></h2>
        <span class="spacer"></span>
    </div>
    <div class="header">
        <span class="spacer"></span>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="status" (selectionChange)="get()">
                <mat-option value="submitted">Submitted</mat-option>
                <mat-option value="accepted">Accepted</mat-option>
                <mat-option value="rejected">Rejected</mat-option>
                <mat-option value="delivered">Delivered</mat-option>
                <mat-option value="cancelled">Cancelled</mat-option>
                <mat-option value="inactive">Deleted</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="spacer"></span>
        <mat-form-field appearance="fill">
            <mat-label>Sort</mat-label>
            <mat-select [(ngModel)]="sort" (selectionChange)="get()">
                <mat-option value="new">Newest First</mat-option>
                <mat-option value="old">Oldest First</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="spacer"></span>
        <button mat-icon-button (click)="reset()">
            <mat-icon matTooltip="Reset">autorenew</mat-icon>
        </button>
        <span class="spacer"></span>
    </div>
    <br>
    <div *ngIf="page && page.items && page.items.length" class="container page" style="min-height: 300px;">
        <mat-card *ngFor="let order of page.items" class="orderCard">
            <div style="width: 100%; text-align: right;">
                <button class="statusButton" (click)="delete(order)" mat-raised-button color="warn">
                    <mat-icon>delete</mat-icon> Delete Order
                </button>
            </div>
            <div (click)="select(order)" class="row" style="width: 100%; margin: 0;">
                <div class="col-4 details" style="margin: 0; padding: 0;">
                    <h5><b>Created On : </b>{{order.createdOn | date}}</h5>
                    <h5><b>Date : </b>{{order.date}}</h5>
                    <h6><b>Ordered Id : </b>{{order.code}}</h6>
                    <h6><b>Size : </b>{{order.size}}</h6>
                    <br>
                    <h5><b>Status : {{order.status | titlecase}}</b></h5>
                </div>
                <div class="col-8 details" style="margin: 0; padding: 0;">
                    <h5><b>Name : {{order.name}}</b></h5>
                    <div class="row" style="width: 100%; margin: 0;">
                        <div class="col-6 details" style="margin: 0; padding: 0;">
                            <h6><b>Phone : </b>0{{order.phone}}</h6>
                            <br>
                            <h5><b>Pickup Address</b></h5>
                            <h6>{{order.pickupAddress}}</h6>
                        </div>
                        <div class="col-6 details" style="margin: 0; padding: 0;">
                            <h6><b>Email : </b>{{order.email}}</h6>
                            <br>
                            <h5><b>Delivery Address</b></h5>
                            <h6>{{order.deliveryAddress}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="paginator">
            <app-paginator #paginator [page]="this"></app-paginator>
        </div>
    </div>
    <div *ngIf="page && (!page.items || !page.items.length)" class="empty">
        <h4 class="emptyText">Oops ! You dont have any orders.</h4>
    </div>
</div>