<processing-indicator *ngIf="isLoading"></processing-indicator>
<div class="page">
    <div *ngIf="order" class="header">
        <span class="spacer"></span>
        <h2><b>Order Details - {{order.code}}</b></h2>
        <span class="spacer"></span>
        <button (click)="print()" class="backButton statusButton" mat-raised-button color="primary">
            PRINT
        </button>
        <button *ngIf="isMobile" (click)="back()" class="backIcon" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button *ngIf="!isMobile" (click)="back()" class="backButton" mat-raised-button color="primary">
            BACK
        </button>
    </div>
    <br>
    <mat-card *ngIf="order" class="detailsCard panel">
        <div class="row primaryColor auto" style="width: 100%;height: 100%; margin-bottom: 10px;">
            <div class="col-md-6 auto">
                <h5><b>Created On : </b>{{(order.createdOn || order.date) | date}}</h5>
            </div>
            <div class="col-md-6 auto">
                <h5><b>Date : </b>{{order.date | date}} {{order.timeslot}}</h5>
            </div>
            <div class="col-md-6 auto">
                <h5><b>Name : </b>{{order.name}}</h5>
            </div>
            <div class="col-md-6 auto">
                <h5><b>Phone : </b>0{{order.phone}}</h5>
            </div>
            <div class="col-md-6 auto">
                <h5><b>Email : </b>{{order.email}}</h5>
            </div>
            <div class="col-md-6 auto">
                <h5><b>Size : </b>{{order.size}}</h5>
            </div>
        </div>

        <div class="primaryColor auto"
            style="width: 100%;height: 100%; margin-bottom: 10px;border-top: 2px solid #2480fd;">
            <h6><b>Status : </b>{{order.status | titlecase}}</h6>
            <button *ngIf="order.status == 'submitted'" class="statusButton" (click)="update('accepted')"
                mat-raised-button color="primary">
                Accepted
            </button>
            <button *ngIf="order.status == 'submitted'" class="statusButton" (click)="update('rejected')"
                mat-raised-button color="warn">
                Reject
            </button>
            <button *ngIf="order.status == 'accepted'" class="statusButton" (click)="update('Delivered')"
                mat-raised-button color="primary">
                Deliver
            </button>
            <button *ngIf="order.status == 'accepted'" class="statusButton" (click)="update('cancelled')"
                mat-raised-button color="warn">
                Cancel
            </button>
        </div>
        <div class="row primaryColor auto"
            style="width: 100%;height: 100%; margin-bottom: 10px;border-top: 2px solid #2480fd;">
            <div class="col-md-6 auto">
                <h6><b>Additional Info : </b>{{order.additionalInfo}}</h6>
            </div>
        </div>
        <div class="row primaryColor auto"
            style="width: 100%;height: 100%; margin-bottom: 10px;border-top: 2px solid #2480fd;">
            <div class="col-md-6 auto">
                <h5><b>From</b></h5>
                <h6>{{order.where.special}}</h6>
            </div>
            <div class="col-md-6 auto">
                <h5><b>To</b></h5>
                <h6>{{order.to.special}}</h6>
            </div>
        </div>
    </mat-card>
</div>

<div *ngIf="order" style="visibility: hidden;" id="page">
    <div style="margin-top: 20px; width: 100%; text-align: center;">
        <div style="padding: 5px; text-align: center;">
            <h3><b>Comfort Movers Order Details - {{order.code}}</b></h3>
            <div style="width: 100%;height: 160px;border-top: 2px solid black;padding-top: 10px;">
                <div style="float: left;width: 45%;">
                    <h5><b>{{order.date | date}} {{order.timeslot}}</b></h5>
                    <h5><b>Email : </b>{{order.email}}</h5>
                    <h5><b>Size : </b>{{order.size}}</h5>
                </div>
                <div style="float: left;width: 45%;">
                    <h5><b>Name : </b>{{order.name}}</h5>
                    <h5><b>Phone : </b>{{order.phone}}</h5>
                    <h5><b>Status : </b>{{order.status | titlecase}}</h5>
                </div>
            </div>
            <div style="width: 100%;height: 60px;border-top: 2px solid black;">
                <h6><b>Additional Info : </b>{{order.additionalInfo}}</h6>
            </div>
            <div style="width: 100%;height: 100px;border-top: 2px solid black;padding-top: 10px;">
                <div style="float: left;width: 45%;">
                    <h5><b>From</b></h5>
                    <h6>{{order.where.special}}</h6>
                </div>
                <div style="float: left;width: 45%;">
                    <h5><b>To</b></h5>
                    <h6>{{order.to.special}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>